.img {
    width: 155px;
    height: 155px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-top: 12px;
}

.star {
    color: #fbe639;
    margin-left: 3px;
}

.profile-content {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
}

.divider {
    border-top: 2px solid #9eb8d8;
}

@media (max-width: 768px) {
    .profile-content {
        background-color: rgba(255, 255, 255, 0); 
        border: none;
        color: #ffff;
    }

    .recognition-content {
        padding: 0 16px;
    }
}

.gratification-img {
    width: 20px;
    margin-bottom: 10px;
}

.recognition-counter {
    margin-left: 5px;
}
