.space {
    width: 100%;
    background-color: #ffff;
    border-radius: 8px;
    padding: 16px;
}

.calendar {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 16px;
}

.select-office {
    position: relative; 
    margin-top: 10px;
}

.form-control {
    padding-right: 30px; 
}

.form-control:focus {
    outline: none; 
}

.select-office::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%); 
    font-size: 12px;
    color: #666; 
    pointer-events: none; 
}

.btn-content-reserve .btn-send-reserve {
    background-color: #4caf50;
    min-width: 100px;
    height: 35px;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-content-reserve .btn-send-reserve:hover {
    color: white;
    cursor: pointer;
}

.btn-content-reserve {
    margin-top: 15px;
}

/* Botão de envio - estado loading */
.btn-send-reserve:disabled {
    background-color: rgb(57, 187, 94); 
    cursor: not-allowed; 
  }