html, body {
    height: 100%; 
    margin: 0; 
}

.wrapper {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    margin: 100px auto;
    max-width: 1200px;
    gap: 40px;
    padding: 0 20px;
    position: relative; 
    z-index: 1; 
    height: 100%; 
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center; 
    }
    .background-overlay{
        display: none;
    }
}

.leftSecction {
    display: flex;
    flex-direction: column; 
    z-index: 10
}

.rigthSecction {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    z-index: 10
}

.secction {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 40px; 
}

.background-overlay {
    position: absolute; 
    left: 50.2%;
    transform: translateX(-50%); 
    width: 100%; 
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.1); 
    z-index: 0;
    border-radius: 8px;
}

